<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><% if current_user  == current_user %><%= link_to 'Edit', edit_recipe_path(recipe) %><% end %></td>
        <td><% if current_user  == current_user %><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %> 
<%= link_to 'New Recipe', new_recipe_path %>
<% end %>
